transformers
datasets<3
huggingface_hub

arxiv

pandas
tqdm

# Hugging Face for datasets
datasets<3
pyarrow  # Often required by datasets

# For arXiv collection
arxiv
pdfplumber
requests

# LSH for deduplication
datasketch
termcolor
PyMuPDF    
requests             # For fetching HTML
beautifulsoup4  